html {
  overflow-x: hidden;
}
body {
  background-color: #353638;
  max-width: 100%;
  overflow-x: hidden;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 12px;
  line-height: 18px;
  color: white;
  height: 100vh;
}
a {
  color: white;
  transition: all 0.3s ease;
}
a:focus {
  color: #f59635;
  text-decoration: none
}

a:hover {
  color: #f59635;
  text-decoration: none
}